body
{
	font-family:Helvetica;
}

input
{
	margin:4px;
}

#game
{
	display:none;
}

#timer
{
	position:absolute;
	left:600px;
	font-size:24px;
}

#players
{
	position: absolute;
	left:0px;
	top:0px;
	bottom:70%;
	width:256px;
	border-right:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;
	padding:8px;
	box-sizing:border-box;
	overflow-y:auto;
}

#chatContainer
{
	position:absolute;
	left:0px;
	bottom:0px;
	height:70%;
	border-right:1px solid #aaaaaa;
	padding:8px;
	box-sizing:border-box;
	width:256px;
}

#chat
{
	padding:0px;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:32px;
	overflow-y:auto;
}

#chatInput
{
	position: absolute;
	bottom:4px;
	left:4px;
	width:calc(100% - 80px);
	box-sizing:border-box;
	margin:1px;
}

#sendChat
{
	position: absolute;
	bottom:4px;
	right:4px;
	width:64px;
	box-sizing:border-box;
	margin:0px;
	overflow-y:auto;
}

.chatMessage
{
	box-sizing:border-box;
	width:100%;
	padding:4px;
	word-wrap:break-word;
}

.a
{
	background-color:white;
}

.b
{
	background-color:#DDDDFF;
}

#start
{
	position: absolute;
	right:516px;
	top:4px;
}

#wordEntry
{
	position: absolute;
	right:0px;
	top:0px;
	bottom:0px;
	width:512px;
	border-left:1px solid #aaaaaa;
	box-sizing:border-box;
}

#words
{
	box-sizing:border-box;
	padding:8px;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:32px;
	overflow-y:auto;
	word-wrap:break-word;
}

#input
{
	position: absolute;
	bottom:4px;
	left:4px;
	width:calc(100% - 80px);
	box-sizing:border-box;
	margin:1px;
}

#submit
{
	position: absolute;
	bottom:4px;
	right:4px;
	width:64px;
	box-sizing:border-box;
	margin:0px;
}

#board
{
	position: absolute;
	left:260px;
	top:4px;
	border:1px solid #aaaaaa;
	border-radius:5px;
	padding:4px;
	display:none;
	background-color:#000066;
}

#board > div
{
	border:1px solid #aaaaaa;
	border-radius:5px;
	width:64px;
	height:64px;
	text-align:center;
	line-height:64px;
	font-size:24px;
	display:inline-block;
	margin:4px;
	background-color:white;
}

#results
{
	padding:8px;
	position:absolute;
	left:256px;
	top:312px;
	right:512px;
	bottom:0px;
	overflow-y:auto;
	word-wrap:break-word;
}